/* This is how you write a comment becuause you forgot */
/*color pallet*/
/*color: #86c232; dark green */
/*color: #222629; dark dark grey*/
/*color: #61892f; light green*/
/*color: #474b4f; dark grey*/
/*color: #6b6e70; light grey*/
* {
  box-sizing: border-box;
  /* border: 100% solid red; */
}
body{
  margin-right: auto;
  margin-left: auto;
  min-width: 760px;
  max-width: 1260px;
  background-color: #222629;
  background-image: url("bg.png");
  /*controlls font color for whole document*/
  color: white;
  font-family: 'Roboto', sans-serif;
}
main{
  margin: 8px;
  padding: 4px 18px 18px 18px;
  background-color: #474b4f;
}
img{
  width: justify;
}
.main:after{
  content: "";
  display: table;
  clear: both;
/* this keeps everything together. not sure how tho */
}
.article,
.section
{
  float: left;
  width: 70%;

}
.sidebar{
  float: right;
  width: 30%;
}
.footer{
  float: bottom;
  margin: 8px;
  line-height: 0.5;
}
/*many a*/
a{
  text-decoration: none;
}
a:link,
a:hover,
a:active{
  color: inherit;
}
a:visited{
  color: inherit;
}
p{
  /* line-height: 1.5; */
}
p a:link{
  color: #86c232;
}
p a:visited{
  color: #86c232;
}
/*aaaaaaaaa*/
.header{
  margin: 8px;
  text-align: left;
}
/*navbar stuff*/
.navbar{
  width:100%;
  background-color: #61892f;
  font-weight: 500;
  border-top: 6px solid #86c232;
}
.navbar ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.navbar li{
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li:hover{
  color: white;
  background-color: #86c232;
}
.navbar a:visited{
  color: inherit;
}
/*navbar stuff*/
/*many Hs Below*/
h1,h2,h3,h4,h5,h6{
  color: #86c232;
}
.title{
  font-size: 48px;
  text-decoration: underline;
  font-family: 'Russo One', sans-serif;
}
/*the H era is over*/
