/* This is how you write a comment becuause you forgot */
/*color pallet*/
/*color: #86c232; light green */
/*color: #222629; dark dark grey*/
/*color: #61892f; dark green*/
/*color: #474b4f; dark grey*/
/*color: 6b6e70; light grey*/
body{
  background-color: #222629;
  background-image: url("bg.png");
  /*controlls font color for whole document*/
  color: white;
}
/*navbar stuff*/
nav{
  height: 40px;
  width:100%;
  background-color: #61892f;
}
nav ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
nav li{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
/*navbar stuff*/
}
/*many Hs Below*/
h1{
  color: #86c232;
}
h2{
  color: #86c232;
}
h3{
  color: #86c232;
}
h4{
  color: #86c232;
}
h5{
  color: #86c232;
}
h6{
  color: #86c232;
}
/*the H era is over*/
